<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.platform.mapper.RiderBalanceFlowMapper">

    <insert id="insertFlow">
        insert into rider_balance_flow
        (rider_id,settle_no,flow_type,amount,balance_after,remark,create_time)
        values
            (#{riderId},#{settleNo},#{flowType},#{amount},#{balanceAfter},#{remark},#{createTime})
    </insert>

    <select id="selectByRider" resultType="com.project.platform.entity.RiderBalanceFlow">
        select * from rider_balance_flow
        where rider_id = #{riderId}
        order by create_time desc
    </select>

</mapper>